.slider {
  position: relative;
}

.slider__content {
  padding-top: 80px;
}

.slide {
  position: relative;
  max-height: 780px;
}
.slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 100, 180, 0.65)), to(rgba(80, 0, 150, 0.65)));
  background: linear-gradient(to right, rgba(0, 100, 180, 0.65), rgba(80, 0, 150, 0.65));
  z-index: 2;
  pointer-events: none;
}
.slide__content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  white-space: nowrap;
}
.slide__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.slide .sl-content__title {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 700;
}
.slide .sl-content__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 0.3em;
  font-weight: 400;
}

.slick-dots {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slick-dots li.slick-active button {
  background: #f5f0f0;
}
.slick-dots button {
  font-size: 0;
  background: rgba(81, 69, 81, 0.1882352941);
  border: 2px solid #fff;
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

.slick-arrow {
  position: absolute;
  z-index: 3;
}

.slick-arrow {
  display: none !important;
}

@media screen and (max-width: 992px) {
  .slide .slide__content {
    padding: 0 40px !important;
  }
  .slide .sl-content__title {
    font-size: 60px !important;
  }
  .slide .sl-content__subtitle {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 768px) {
  .slide .slide__content {
    padding: 0 20px !important;
  }
  .slide .sl-content__title {
    font-size: 46px !important;
  }
  .slide .sl-content__subtitle {
    font-size: 14px !important;
    letter-spacing: 0.1em;
  }
  .slick-dots {
    right: 20px;
    gap: 20px;
  }
}
@media screen and (max-width: 440px) {
  .slide .slide__content {
    padding: 0 5px !important;
  }
  .slider__content {
    padding-top: 32px !important;
  }
  .slide .sl-content__title {
    font-size: 18px !important;
    line-height: 1.2;
  }
  .slide .sl-content__subtitle {
    font-size: 12px !important;
    letter-spacing: 0.05em;
  }
  .slick-dots {
    gap: 5px;
    right: 10px;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1f2323;
  min-height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header,
.footer .secttion {
  padding: 0 calc(50vw - 585px);
}
@media screen and (max-width: 1200px) {
  .header,
  .footer .secttion {
    padding: 0 calc(50vw - (585px - 12%));
  }
}
@media screen and (max-width: 768px) {
  .header,
  .footer .secttion {
    padding: 0 15px;
  }
}

.main {
  margin-top: 0;
}

.title_3 {
  font-size: 20px;
  color: #493835;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0px 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 100, 180, 0.65)), to(rgba(80, 0, 150, 0.65)));
  background: linear-gradient(to right, rgba(0, 100, 180, 0.65), rgba(80, 0, 150, 0.65));
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 0 10px;
  z-index: 6;
}
@media (max-width: 768px) {
  .header__body {
    height: 60px;
  }
}
.header__logo {
  color: #66f5fa;
}
.header__list {
  padding-left: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 7;
}
@media (max-width: 768px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
}
.header__item {
  margin: 0 25px;
}
@media (max-width: 768px) {
  .header__item {
    width: 100%;
    margin: 0 0;
    text-align: center;
    padding: 12px 0;
    -webkit-box-shadow: inset 0px 1px 8px 2px #123747;
            box-shadow: inset 0px 1px 8px 2px #123747;
  }
}
.header__link {
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 14px;
  font-family: "Source Sans 3", sans-serif;
}
.header__link .dot {
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.header__link.active .dot {
  background-color: #99f2ff;
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 6;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 30px;
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 30px;
    bottom: 9px;
  }
  .header__burger span {
    position: absolute;
    top: 9px;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
  }
  .header__burger span.hide {
    opacity: 0;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    position: absolute;
    left: 0;
    background: #fff;
    width: 35px;
    height: 2px;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
    width: 25px;
  }
}
@media (max-width: 768px) {
  .header__menu {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 180px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 99;
  }
  .header__menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__menu .header__item {
    margin: 0;
    padding: 10px 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header__menu .header__link {
    color: #333;
    font-weight: bold;
  }
  .header__menu .header__link .dot {
    border-color: #333;
  }
  .header__menu .header__link.active .dot {
    background-color: #333;
  }
}

@media (max-width: 600px) {
  .header__body {
    padding: 0 6px;
    height: 60px;
  }
}
@media (max-width: 400px) {
  .header__body {
    padding: 0 4px;
    height: 45px;
  }
}

.image-container {
  gap: 12px;
}
@media (max-width: 600px) {
  .image-container {
    gap: 8px;
  }
  .image-container svg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 400px) {
  .image-container {
    gap: 1px;
  }
  .image-container svg {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 600px) {
  .header__burger {
    width: 24px;
    height: 16px;
  }
}
@media (max-width: 400px) {
  .header__burger {
    width: 20px;
    height: 14px;
  }
  .header__burger::before, .header__burger::after, .header__burger span {
    height: 1.5px;
  }
}

@media (max-width: 600px) {
  .header__logo svg {
    width: 180px;
    height: auto;
  }
}
@media (max-width: 400px) {
  .header__logo svg {
    width: 140px;
  }
}

.main {
  margin-top: 60px;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.image-container svg {
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.image-container svg path {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}
.image-container svg:active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.image-container svg:active path {
  fill: #99f2ff;
}

.news-slider {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 120px 215px;
  background: -webkit-gradient(linear, left top, right top, from(#24CCFA), to(#3C7FD4));
  background: linear-gradient(to right, #24CCFA 0%, #3C7FD4 100%);
  color: #fff;
}

.news-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 90px;
}

.news-line {
  width: 80px;
  height: 1px;
  background-color: #ffffff;
  margin: 0 auto 30px auto;
}

.slider-container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.card {
  background: #fff;
  color: #000;
  overflow: hidden;
  min-width: 31.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 10px;
}

.card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  padding: 30px 20px 30px 20px;
  text-align: left;
}

.card-body h3 {
  font-size: 22px;
  color: #2C4058;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}

.card-body p {
  font-size: 18px;
  color: #2C4058;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.author-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.author-name {
  font-size: 18px;
  color: #2C4058;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 6px;
}

.author-date {
  color: #55B7FF;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.arrow {
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.3);
  border: none;
  font-size: 25px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 40;
  border-radius: 50%;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.6);
}

.prev {
  left: 150px;
}

.next {
  right: 150px;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  gap: 40px;
}

.dots button {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dots button.active {
  opacity: 1;
  background: #ffffff;
}

@media (max-width: 768px) {
  .card {
    min-width: 100%;
  }
}
.gallery-section {
  padding: 150px 0;
  background: #fff;
  position: relative;
}

.gallery-title {
  text-align: center;
  font-size: 44px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #2c4058;
}

.gallery-line {
  width: 70px;
  height: 1px;
  background: #2C4058;
  margin: 0px auto 30px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.gallery-item {
  cursor: pointer;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.gallery-item:hover img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.gallery-item--large {
  grid-row: 1/span 2;
  grid-column: 1/2;
}

.gallery-btn {
  display: block;
  margin: 50px auto 0;
  padding: 17px 57px;
  background: transparent;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.gallery-btn:hover {
  background: #99f2ff;
  color: #fff;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-inner {
  max-width: 90%;
  max-height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-content {
  width: 80vw;
  height: auto;
  max-height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: auto;
  border-radius: 8px;
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 36px;
  color: #fff;
  cursor: pointer;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .gallery-item--large {
    grid-column: 1/span 2;
    grid-row: auto;
  }
}
.gallery-item {
  position: relative;
  overflow: hidden;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.zoom-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  color: #3c7fd4;
  font-size: 28px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.gallery-item:hover .zoom-icon {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.map {
  height: 700px;
  position: relative;
  z-index: 1;
}
.map__title {
  display: none;
}

.footer {
  position: relative;
  background: url("/ex/assets/img/simone-hutsch-XK0faa4_mCQ-unsplash.jpg") no-repeat center center/cover;
  padding: 250px 0;
  color: white;
  overflow: visible;
}
.footer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 100, 180, 0.65)), to(rgba(80, 0, 150, 0.65)));
  background: linear-gradient(to right, rgba(0, 100, 180, 0.65), rgba(80, 0, 150, 0.65));
  z-index: 1;
}
.footer-container {
  position: relative;
  z-index: 2;
  max-width: 670px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.footer-logo img {
  max-height: 50px;
  width: auto;
  display: block;
}
.footer-info {
  font-size: 14px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer-social svg {
  width: 40px;
  height: 40px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.footer-social svg:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.footer-text {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
@media (max-width: 992px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-logo {
    margin-bottom: 20px;
  }
  .footer-info {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 576px) {
  .footer {
    padding: 120px 20px;
  }
  .footer-logo img {
    max-height: 40px;
  }
  .footer-text {
    font-size: 12px;
  }
  .footer-social {
    gap: 15px;
  }
  .footer-social svg {
    width: 30px;
    height: 30px;
  }
}

.contact {
  position: absolute;
  top: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  padding: 60px;
  max-width: 670px;
  width: 90%;
  background: white;
  border-radius: 6px;
  -webkit-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
          box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
}
.contact__title {
  font-size: 32px;
  font-weight: 700;
  color: #2e3a59;
  text-align: center;
  margin-bottom: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.contact__line {
  width: 70px;
  height: 1px;
  background: #2C4058;
  margin: 0px auto;
}
.contact__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .contact-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 260px;
  font-size: 15px;
  color: #2e3a59;
}
.contact .contact-info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.contact .contact-info p i, .contact .contact-info p .circle-icon {
  color: #8000ff;
  margin-right: 10px;
}
.contact__form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.contact__form-input {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #2e3a59;
  background: transparent;
  outline: none;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.contact__form-input::-webkit-input-placeholder {
  color: #999;
}
.contact__form-input::-moz-placeholder {
  color: #999;
}
.contact__form-input:-ms-input-placeholder {
  color: #999;
}
.contact__form-input::-ms-input-placeholder {
  color: #999;
}
.contact__form-input::placeholder {
  color: #999;
}
.contact__form-input:focus {
  border-bottom: 1px solid #2e3a59;
}
.contact__form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.contact__form-btn .btn {
  padding: 12px 34px;
  background: transparent;
  border: 2px solid #2e3a59;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact__form-btn .btn:hover {
  background: #2e3a59;
  color: white;
}
@media (max-width: 768px) {
  .contact {
    margin-top: -100px;
    padding: 40px 20px;
  }
  .contact__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .contact__form-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 480px) {
  .contact {
    padding: 30px 15px;
    border-radius: 12px;
  }
  .contact__title {
    font-size: 24px;
  }
}

.projects {
  margin-top: 100px;
  color: #2C4058;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 180px;
  margin-bottom: 150px;
}
@media screen and (max-width: 768px) {
  .projects {
    margin-top: 80px;
    gap: 60px;
    margin-bottom: 80px;
  }
}
.projects__slid {
  margin-right: 40px;
}
@media screen and (max-width: 992px) {
  .projects__slid {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .projects__slid {
    margin-right: 0;
  }
}
.projects__slid1 {
  margin-left: 40px;
}
@media screen and (max-width: 992px) {
  .projects__slid1 {
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .projects__slid1 {
    margin-left: 0px;
  }
}
.projects__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 44px;
}
.projects__title::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: #2C4058;
  top: -30px;
  left: 46%;
}
@media screen and (max-width: 768px) {
  .projects__title::before {
    left: 40%;
  }
}
.projects__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
@media screen and (max-width: 768px) {
  .projects__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .projects__box-revers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.projects__img {
  position: relative;
  width: 50%;
  height: 470px;
  background: url("//ex/assets/img/sec1.png") no-repeat;
  background-size: cover;
  background-repeat: round;
}
@media screen and (max-width: 992px) {
  .projects__img {
    height: 350px;
    width: 350px;
  }
}
@media screen and (max-width: 768px) {
  .projects__img {
    width: 100%;
  }
}
.projects__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 470px;
  top: -60px;
  left: 30px;
  background: #55B7FF;
  z-index: -1;
}
@media screen and (max-width: 992px) {
  .projects__img::before {
    height: 350px;
    top: -30px;
  }
}
@media screen and (max-width: 768px) {
  .projects__img::before {
    left: 0;
  }
}
.projects__img1 {
  position: relative;
  width: 50%;
  height: 470px;
  background: url("//ex/assets/img/sec2.png") no-repeat;
  background-size: cover;
  background-repeat: round;
}
@media screen and (max-width: 992px) {
  .projects__img1 {
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  .projects__img1 {
    width: 100%;
  }
}
.projects__img1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 470px;
  top: -60px;
  right: 30px;
  background: #7E5AFF;
  z-index: -1;
}
@media screen and (max-width: 992px) {
  .projects__img1::before {
    height: 350px;
    top: -30px;
  }
}
@media screen and (max-width: 768px) {
  .projects__img1::before {
    right: 0;
  }
}
.projects__text {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .projects__text {
    width: 100%;
  }
}
.projects__text-subtitle {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  color: #2C4058;
}
.projects__text-title {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2C4058;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .projects__text-title {
    font-size: 30px;
  }
}
.projects__text-content {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}
.projects__location {
  display: block;
  margin-top: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  color: black;
}
.projects__btn {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background: #fff;
  border: 2px solid #2C4058;
  padding: 12px 25px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.projects__btn:hover {
  background-color: #2C4058;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .img_pr {
    height: 250px;
    width: 350px;
  }
}
@media screen and (max-width: 1200px) {
  .img_pr {
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  .img_pr {
    width: 100%;
  }
}